{
	"presets": ["es2015", "stage-0", "stage-1", "stage-2","stage-3"],
	"plugins": [
		"add-module-exports",
    "transform-async-to-generator",
    "transform-async-to-module-method",
		["transform-runtime", {
			"polyfill": false,
			"regenerator": true
		}]
	],
  "sourceMaps": true,
  "retainLines": true,
  "ast": true
}
